   .table {
        border-collapse: collapse;
        width: 80%;
        margin: 20px auto;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid black;
    }

    th {
        background-color: #007BFF;
        color: white;
        border-top: none;
        border-bottom: 2px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #80B4FF;
    }

    a {
        text-decoration: none;
        color: #007BFF;
        margin-right: 5px;
    }

    .center-title {
        background-color: #007BFF;
        text-align: center;
        padding: 20px 0;
        text-decoration-color: aliceblue;
    }

    .white-text {
        color: white;
    }

    .center-buttons {
        text-align: center;
    }

    .left-buttons {
        text-align: left;
        margin-left: 10%;
        padding: 20px 0;
    }
   